.tab-pane#tab_sent
  %ul.unstyled.list-striped.list-hover
    = partial :request_row, :collection => sent, :locals => { :actions => [:resend, :delete] }
    = will_paginate @sent_responses, renderer: BootstrapPagination::Sinatra
