= partial :form

%h1 Responses

%ul.nav.nav-tabs
  %li.active
    %a{href: "/a-machine/scheduled", data: {toggle: "tabajax", target: "#tab_scheduled"} }
      %i.icon-calendar
      Scheduled
  %li
    %a{href: "/a-machine/sent", data: {toggle: "tabajax", target: "#tab_sent"} }
      %i.icon-list
      Sent
.tab-content
  = partial :tab_scheduled, locals: { scheduled: @scheduled_responses }
  = partial :tab_sent, locals: { sent: @sent_responses }
