= partial :form

%h1 Responses

%ul.nav.nav-tabs
  %li.active
    %a{:href => "#tab_scheduled", "data-toggle" => "tab"}
      %i.icon-calendar
      Scheduled
  %li
    %a{:href => "#tab_sent", "data-toggle" => "tab"}
      %i.icon-list
      Sent
.tab-content
  .tab-pane.active#tab_scheduled
    %ul.unstyled.list-striped.list-hover
      = partial :request_row, :collection => @scheduled_responses, :locals => { :actions => [:pause, :edit, :delete] }
  .tab-pane#tab_sent
    %ul.unstyled.list-striped.list-hover
      = partial :request_row, :collection => @sent_responses, :locals => { :actions => [:resend, :delete] }
